/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*style*/

body {
  background-color: black;
}
img {
  position: absolute;
  top: 200px;
  left: 460px;
  opacity: 0.1;
}
.header {
  padding-top: 5px;
  padding-left: 15px;
}
.header .judul {
  width: 225px;
  font: 30px century;
  color: silver;
  border-bottom: 1px solid silver;
}
h1 {
  font: 22px century;
  color: silver;
}
.header ul {
  margin-left: 100px;
}
.header ul li {
  font-size: 17px;
  display: inline-block;
  padding-right: 10px;
  padding-top: 20px;
}
.header a {
  text-decoration: none;
  color: yellow;
}
.header a:hover {
  background-color: silver;
  color: black;
}

.border {
  border: 2px solid silver;
  margin-top: 10px;
}
.content h3 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-left: -5%;
}
.hero {
  height: 400px;
  background-image: url(CONSERVER.png);
  background-position: center;
  padding-top: 50px;
  background-repeat: no-repeat;
  opacity: 0.1;
}
